/* Header Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWpm4KTO64Bsgq79NnWT9KIi17p4KanmZZ8w&usqp=CAU");
}

.header {
    padding: 10px 16px;
    background: #08BDBD;
    color: #f1f1f1;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 102px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: none;
    color:black;
  }
  
  .fa-youtube {
    background: none;
    color:black;
  }
  
  .fa-instagram {
    background: none;
    color:black;
}

  .fa-facebook {
    background-color: none;
    color: black;
  }


/* Garden Plot Styling */
table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

tr {
  height: 100px;
  width: 100px;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(156, 156, 156);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(1){
  background-color: red;
  animation-delay: 6s;
}
tr:nth-child(2){
  background-color: orange;
  animation-delay: 4s;
}
tr:nth-child(3){
  background-color: yellow;
  animation-delay: 2s;
}
tr:nth-child(4){
  background-color: greenyellow;
  animation-delay: 0;
}

td {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  animation-name: td;
  animation-duration: 8s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
  /* -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out; */
}

td:hover {
  background-image: url("../images/Untitled1_20210412142606.png"), url('../images/Untitled1_20210412142618.png'), url('../images/Untitled1_20210412142626.png'), url('../images/Untitled1_20210412142632.png'), url('../images/Untitled1_20210412142638.png');
  background-repeat: repeat;
  background-size: 225%, 10%;
  background-position: center;
  cursor: pointer;
}
@keyframes td {
  0%{
    background-image: url('../images/Untitled1_20210412142606.png');
  }
  25%{
    background-image: url('../images/Untitled1_20210412142618.png');
  }
  50%{
    background-image: url('../images/Untitled1_20210412142626.png');
  }
  75%{
    background-image: url('../images/Untitled1_20210412142632.png');
  }
  100%{
    background-image: url('../images/Untitled1_20210412142638.png');
  }
}



/* // animation container */
.animation-title {
  font-family: sans-serif;
  text-align: center;
}

.eye-animation {  
  /* // place in the middle of the screen */
  margin: auto;
  
  width: 300px;
  height: 300px;
  
  /* // we set the horizontal size to 1800% because we have 18 / */
  background-image: url('../images/Untitled1_20210412142606.png'), url('../images/Untitled1_20210412142618.png'), url('../images/Untitled1_20210412142626.png'), url('../images/Untitled1_20210412142632.png'), url('../images/Untitled1_20210412142638.png') ;
  background-size: 225%, 10%;
  background-position: center;
  
  /* // 'animation-timing-function' ensures users won’t see half of one frame and half of the following frame both at the same time
  // we set the number of steps to 17 because we have 18 frames  */
  animation-name: eye-fill;
  animation-duration: 8s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

/* // during the animation we move the background-image from left to right */
@keyframes eye-fill {
  0%{
    background-image: url('../images/Untitled1_20210412142606.png');
  }
  25%{
    background-image: url('../images/Untitled1_20210412142618.png');
  }
  50%{
    background-image: url('../images/Untitled1_20210412142626.png');
  }
  75%{
    background-image: url('../images/Untitled1_20210412142632.png');
  }
  100%{
    background-image: url('../images/Untitled1_20210412142638.png');
  }
}