@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* Header Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWpm4KTO64Bsgq79NnWT9KIi17p4KanmZZ8w&usqp=CAU");
}

.header {
    padding: 10px 16px;
    background: #08BDBD;
    color: #f1f1f1;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 102px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: none;
    color:black;
  }
  
  .fa-youtube {
    background: none;
    color:black;
  }
  
  .fa-instagram {
    background: none;
    color:black;
}

  .fa-facebook {
    background-color: none;
    color: black;
  }


/* Garden Plot Styling */
table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

tr {
  height: 100px;
  width: 100px;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  font-family: 'Balsamiq Sans', cursive;
}

/* ROW HEADER STYLING */
.row1 > th, .row2 > th, .row3 > th, .row4 > th {
  background-image: url('../gardenPlot/images/garden_stake2.png');
  background-repeat: no-repeat; 
  background-size: 90%, 10%;
  background-position: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 1em;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* RASPBERRY STYLING */
.row1 > td {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  animation-name: row1;
  animation-duration: 8s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

.row1:hover > td {
  /* background-image: url("../images/Untitled1_20210412142606.png"), url('../images/Untitled1_20210412142618.png'), url('../images/Untitled1_20210412142626.png'), url('../images/Untitled1_20210412142632.png'), url('../images/Untitled1_20210412142638.png'); */
  background-repeat: no-repeat;
  background-size: 225%, 10%;
  background-position: center;
  cursor: pointer;
}
@keyframes row1 {
  0%{
    background-image: url('../gardenPlot/images/Untitled1_20210412142606.png');
  }
  25%{
    background-image: url('../gardenPlot/images/Untitled1_20210412142618.png');
  }
  50%{
    background-image: url('../gardenPlot/images/Untitled1_20210412142626.png');
  }
  75%{
    background-image: url('../gardenPlot/images/Untitled1_20210412142632.png');
  }
  100%{
    background-image: url('../gardenPlotimages/Untitled1_20210412142638.png');
  }
}

/* CARROT Styling */
.row2 > td {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  animation-name: row2;
  animation-duration: 8s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

.row2:hover > td {
  /* background-image: url("../images/Untitled1_20210412142606.png"), url('../images/Untitled1_20210412142618.png'), url('../images/Untitled1_20210412142626.png'), url('../images/Untitled1_20210412142632.png'), url('../images/Untitled1_20210412142638.png'); */
  background-repeat: no-repeat;
  background-size: 225%, 10%;
  background-position: center;
  cursor: pointer;
}
@keyframes row2 {
  0%{
    background-image: url('../gardenPlot/images/carrot_blossom.png');
  }
  25%{
    background-image: url('../gardenPlot/images/carrot_blossom2.png');
  }
  50%{
    background-image: url('../gardenPlot/images/carrot_blossom3.png');
  }
  75%{
    background-image: url('../gardenPlot/images/carrot_blossom4.png');
  }
  100%{
    background-image: url('../gardenPlot/images/carrot_blossom5.png');
  }
}

/* APPLE STYLING */
.row3 > td {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  animation-name: row3;
  animation-duration: 8s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

.row3:hover > td {
  /* background-image: url("../images/Untitled1_20210412142606.png"), url('../images/Untitled1_20210412142618.png'), url('../images/Untitled1_20210412142626.png'), url('../images/Untitled1_20210412142632.png'), url('../images/Untitled1_20210412142638.png'); */
  background-repeat: no-repeat;
  background-size: 225%, 10%;
  background-position: center;
  cursor: pointer;
}
@keyframes row3 {
  0%{
    background-image: url('../gardenPlot/images/apple_blossom.png');
  }
  25%{
    background-image: url('../gardenPlot/images/apple_blossom2.png');
  }
  50%{
    background-image: url('../gardenPlot/images/apple_blossom3.png');
  }
  75%{
    background-image: url('../gardenPlot/images/apple_blossom4.png');
  }
  100%{
    background-image: url('../gardenPlot/images/apple_blossom5.png');
  }
}

/* BELL PEPPER STYLING */
.row4 > td {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  animation-name: row4;
  animation-duration: 8s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

.row4:hover > td {
  /* background-image: url("../images/Untitled1_20210412142606.png"), url('../images/Untitled1_20210412142618.png'), url('../images/Untitled1_20210412142626.png'), url('../images/Untitled1_20210412142632.png'), url('../images/Untitled1_20210412142638.png'); */
  background-repeat: no-repeat;
  background-size: 225%, 10%;
  background-position: center;
  cursor: pointer;
}
@keyframes row4 {
  0%{
    background-image: url('../gardenPlot/images/bellpepper.png');
  }
  25%{
    background-image: url('../gardenPlot/images/bellpepper2.png');
  }
  50%{
    background-image: url('../gardenPlot/images/bellpepper3.png');
  }
  75%{
    background-image: url('../gardenPlot/images/bellpepper4.png');
  }
  100%{
    background-image: url('../gardenPlot/images/bellpepper5.png');
  }
}