{% extends 'users/base.html' %}
{% load static %}
{% block users %}

<div>
   {% if user.is_authenticated %}
   <div class="stickyTopNav">
        <a href="{% url 'plants:dashboard' %}">DASHBOARD</a>
        <a style="float: right;" href="{% url 'logout_user' %}">logout</a>
    </div>
    <div class="bannerImage">
        <H1 class="bannerImage2">MEMBER HOME</H1>
    </div>
    <div class="welcome">
        <h1>HELLO, {{ user }}!</h1>    
    </div>
    
    <div class="content1">
        <section class="options">
            <a href="{% url 'quizGame:index' %}">Flash Cards<img src="{% static 'plants/images/flashacard.png' %}" alt="flashcard"></a>
        </section>
        <section class="options">
            <a href="{% url 'plants:foodData' %}">Food Library<img src="{% static 'plants/images/library4.png' %}" alt="fruit"></a>
        </section>
        <section class="options">
            <a href="{% url 'gardenPlot:index' %}">Garden Plot<img src="{% static 'plants/images/garden_plot.png' %}" alt="garden plot"></a>
        </section>
    </div>
    <hr>
    <hr>
    <div class="seed">
        <h2>Identify Seed & Fruit</h2>
    </div>
    <div class="plot">    
        <div class="innerplot">   
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>
            <div class="six"></div>
        </div>
    </div>
    {% endif %} 
</div>
{% endblock %}