{% extends 'users/base.html' %}
{% load static %}
{% block users %}

<div>
   {% if user.is_authenticated %}
   <div>
       <h2>MEMBER HOME</h2>
       <h3><a href="{% url 'logout_user' %}">logout</a> </h3>
       <h3><a href="{% url 'plants:dashboard' %}">DASHBOARD</a></h3> 
   </div>
    
    <h1>HELLO, {{ user }}!</h1>
    <hr>
    <div class="content1">
        <section class="options">
            <p>Wanna Play?</p>
            <a href="{% url 'quizGame:index' %}">CLICK ME</a>
        </section>
        <section class="options">
            <p>Learn More</p>
            <a href="{% url 'plants:foodData' %}">open</a>
        </section>
        <section class="options">
            <p>Fruits & Vegetables</p>
            <a href="{% url 'gardenPlot:index' %}">CLICK ME</a>
        </section>
    </div>
    
    <div class="plot">    
        <table class="innerplot">            
            <tr class="row1">
                <td><img src="{% static 'users/images/Apple_seeds.jpg' %}" alt="apple seed"></td>
                <td><img src="{% static 'users/images/beet_seed.jpg' %}" alt="beet seed"></td>
                <td><img src="{% static 'users/images/broccoli_seed.jpg' %}" alt="broccoli seed"></td>
            </tr>
            <tr class="row2">
                <td><img src="{% static 'users/images/corn_seed.jpeg' %}" alt="corn seed"></td>
                <td><img src="{% static 'users/images/lettuce_seed.jpg' %}" alt="lettuce seed"></td>
                <td><img src="{% static 'users/images/collard_seed.jpg' %}" alt="collard"></td>
            </tr>
        </table>
    </div>
    {% endif %} 
</div>
{% endblock %}