{% extends 'users/base.html' %}

{% block users %}
<body class="loginregister">
    <div class="message">
        <section class="section1">
            <h5>Say Hello</h5>
            <h2>Create Account</h2>
            <h4>Thank You for trusting in our vision and choosing to become apart of the family. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, non?</h4>
        </section>
        <section class="section2">
            {% if error %}
            {{error}}
            {% endif %}
            <h3>Join Us</h3>
            <h5>Create Your Account, It's Free.</h5>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username: " value="{{username}}" onfocus="this.value=''">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email: " value="{{email}}" onfocus="this.value=''">
                <label for="pword">Password</label>
                <input type="password" name="password" placeholder="Password: " onfocus="this.value=''">
                <input type="password" name="confirm" placeholder="Confirm Password: " onfocus="this.value=''">
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                <input type="submit" value="Register">
            </form>    
        </section>
    </div>   
</body>
{% endblock %}