{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Food</title>
    <link rel="stylesheet" href="{% static 'plants/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header" id="myHeader">
        <h1>Header: {{ message }}</h1>
        <div class="topNav">
            <nav class="navBar">
                <a href="#">Home</a>
                <a href="#">YouTube</a>
                <a href="#">About</a>
                <a href="{% url 'login_user' %}">Member Login</a>
                <a href="{% url 'register' %}">Join Us</a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
            </nav>
        </div>
    </div>
    
    <div class="gardenPic">
        <h2 class="garden">Picture of Vegetables</h2>    
    </div>

    <div class="content">
        <section class="square1">

        </section>
        <section class="options">
            <p>Wanna Play?</p>
            <a href="{% url 'vegetableGame:veggieGameData' %}">CLICK ME</a>
        </section>
        <section class="options">
            <p>Learn More ---></p>
            <p>Quiz <---</p>
        </section>
        <section class="options">
            <p>Fruits & Vegetables</p>
            <a href="#">CLICK ME</a>
        </section>
        <section class="square2">

        </section>
    </div>

    <div class="summary">
        <h3>Summary about Fruits and Vegetables</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <img class="tree" src="/images/guessing-game.png" alt="Tree">
    </div>
    
    <script>
        window.onscroll = function() {myFunction()};
        
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        
        function myFunction() {
            if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            } else {
            header.classList.remove("sticky");
            }
        }
    </script>
</body>
<footer>Footer: {{ message }}</footer>
</html>