{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard Quiz Game</title>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'quizGame/style.css' %}">
    <script defer src="{% static 'quizGame/main.js' %}"></script>
</head>

<body>
    <div class="header" id="myHeader">
      <h1>Header: {{ message }}</h1>
        <div class="topNav">
            <nav class="navBar">
              <a href="{% url 'plants:index' %}">Home</a>
              <a href="#">YouTube</a>
              <a href="{% url 'plants:aboutPage' %}">About</a>
              <a href="{% url 'login_user' %}">Member Login</a>
              <a href="{% url 'register' %}">Join Us</a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
            </nav>
        </div>
    </div>

    <!-- <div class="message">
      <h1>{{ message }}</h1>
    </div> -->

    <body onload="getRandomWord()">
      <h1 class="title">Hello There, Welcome to our Flash Card App</h1>

      <div class="term">
          <h3>Term</h3>
      </div>

      <div class="definition">
          <h3>Definition</h3>
      </div>

      <div class="button">
          <button class="check">Check Definition</button>
          <button class="next">Next Definition</button>
      </div>
    </body>

    <!-- <div id="generate">
      <select v-model="amount" name="amount" id="amount">
        <option disabled value="">Number of Questions</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
      <button v-on:click="getQuiz">Generate Quiz</button>
    </div>

    <article class="flashcard">
        <input id="flashcard-1" type="checkbox" />
        <label id="app" for="flashcard-1">
          <section class="front">
            <!-- Front of the flashcard! -->
            <p v-html="question"></p>
          </section>
          <section class="back">
            <!-- Back of the flashcard! -->
            <p v-html="answer"></p>
          </section>
          <p v-html="ques"></p>
        </label>
    </article> -->
    
    <!-- {% for quiz in quiz_question %}
    <div>
      <h3>Quiz Questions: {{quiz.veggie_question}}</h3>
    </div>
    {% endfor %} -->

    <script>
      window.onscroll = function() {myFunction()};
      
      var header = document.getElementById("myHeader");
      var sticky = header.offsetTop;
      
      function myFunction() {
          if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
          } else {
          header.classList.remove("sticky");
          }
      }
    </script>

</body>
</html>