{% extends 'plants/base.html' %}
{% load static %}
{% block plants %}

<div>
    <div>
        <img src="{% static 'plants/images/banner_food_image.jpg' %}" alt="banner">
        <div>
            <h3>About Us</h3>
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <h4>Welcome To Good Food</h4>
            <h3>A LITTLE STORY ABOUT US</h3>
            <div>
                <img src="{% static 'plants/images/leaf_image.png' %}" alt="leaf">
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <img src="{% static 'plants/images/vegetables_basket.png' %}" alt="basket of food">
    </div>
    <div>
        <h3>A FRIENDLY ONLINE STORY</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus vel facere expedita quos quod velit et, consectetur quia! Cumque mollitia, officia sit iste quam sint!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ea vero culpa sequi nostrum sit, quasi harum quia ut tenetur.</p>
        <div>
            <img src="{% static 'plants/images/basil_in_bowl.jpg' %}" alt="basil">
            <img src="{% static 'plants/images/peas_in_pod.jpg' %}" alt="peas in pod">
            <img src="{% static 'plants/images/mini_watermelon.jpg' %}" alt="mini watermelon">
        </div>
    </div>
</div>
<div>
    <div>
        <h3>Why Choose Us</h3>
        <div>
            <img src="{% static 'plants/images/leaf_image.png' %}" alt="leaf">
        </div>
    </div>
</div>
<div>
    <div>
        <div>
            <div><img src="{% static 'plants/images/circle_logo.png' %}" alt="circle logo 1"></div>
            <div>
                <h3>Always Fresh</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div><img src="{% static 'plants/images/circle_logo_2.png' %}" alt="circle logo 2"></div>
            <div>
                <h3>Keep You Healthy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div><img src="{% static 'plants/images/circle_logo_3.png' %}" alt="circle logo 3"></div>
            <div>
                <h3>Healthy Cooking</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
    <div>
        <img src="{% static 'plants/images/pineapple_fruit.jpg' %}" alt="pineapple">
    </div>
    <div>
        <div>
            <div><img src="{% static 'plants/images/circle_logo_4.png' %}" alt="circle logo 4"></div>
            <div>
                <h3>Always Fresh</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div><img src="{% static 'plants/images/circle_logo_5.png' %}" alt="circle logo 5"></div>
            <div>
                <h3>Keep You Healthy</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div><img src="{% static 'plants/images/circle_logo_6.png' %}" alt="circle logo 6"></div>
            <div>
                <h3>Healthy Cooking</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>
<div>
    <article>
        <h1>Header {{ message }}</h1>
        <h3>About GoodFood</h3>
        
        <p>You get to enjoy a variety of flavors and textures. With all their unique and interesting flavors, plant-based foods let you get creative in the kitchen.  You can try strong flavors like onions, olives and peppers, or milder options such as mushrooms and corn. For sweet flavors, fruits like pineapple, grapes or plums are great, while lemons and grapefruits are more sour.</p>

        <p>Lots and lots of fiber. Most fruits and vegetables have plenty of fiber to fill you up and boost gut health, but some have more than others. Fiber-rich vegetables include artichokes, green peas, broccoli and cauliflower. High-fiber fruits include raspberries, pears, apples and pumpkin.</p> 

        <p>They’re low-calorie and low-fat. On average, fruits and especially vegetables are very low in calories and fat, which means you can eat more to keep you feeling full without worrying about extra calories or fat. You can save more than  200 calories by eating half a cup of grapes versus a fourth of a cup of  M&Ms. That said, there are exceptions, such as avocados, olives and coconuts.</p>

        <p>Protect against cancer and other diseases. Many vegetables and fruits contain phytochemicals, which are biologically active substances that can help protect against some diseases. That means you can lower your risk of type 2 diabetes, stroke, heart disease, high blood pressure and cancer by adding them into your diet. Specifically cruciferous veggies, such as broccoli, cabbage, collards and watercress, have been linked to reducing cancer risks.</p>

        <p>Fruits and vegetables help you maintain good health. Because they’re low in saturated fat, salt and sugar, fruits and vegetables are part of a well-balanced diet that can help you lose weight or prevent weight gain. Plus, they can help you decrease inflammation, and lower cholesterol levels and blood pressure.</p>

        <p>Low in sodium and cholesterol. Fresh fruits and veggies contain only trace amounts of sodium. Many people think that celery is high in sodium, but in fact, one stalk contains a mere 30mg, which contributes 1 percent to the recommended daily value. Cholesterol doesn’t exist in fruits and veggies at all.</p>

        <p>Fresh, frozen, canned, dried – they’re ALL nutritious. While eating fresh fruits and vegetables may be your preference, there’s not much difference from a nutrition standpoint when you compare frozen, canned or dehydrated products. In fact, most frozen and canned products are processed within hours of harvest, so the nutritional value is locked in quickly.</p>

        <p>Convenient, quick and easy. Unlike granola bars or crackers, many fruits and vegetables don’t need any packaging. So you can easily grab a banana or an apple as you’re heading out the door.</p>

        <p>Finally… Smoothies! If you have a blender, all you need is fruit and ice to whip up a delicious smoothie using all of your favorite flavors. And here’s a tip – when you make a fruit smoothie, feel free to throw in as much fresh spinach as you like. Spinach doesn’t start to taste like “spinach” until you cook it. Even kids can’t tell the difference!</p>

        <p>Enjoying fruits and vegetables is a great way to improve your health and actually enjoy what you eat. While it may take a little creativity, effort and an open mind to try new things, switching to a diet with more fruits and veggies is definitely worth it!</p>
        
        <p>You get to enjoy a variety of flavors and textures. With all their unique and interesting flavors, plant-based foods let you get creative in the kitchen.  You can try strong flavors like onions, olives and peppers, or milder options such as mushrooms and corn. For sweet flavors, fruits like pineapple, grapes or plums are great, while lemons and grapefruits are more sour.</p>

        <p>Lots and lots of fiber. Most fruits and vegetables have plenty of fiber to fill you up and boost gut health, but some have more than others. Fiber-rich vegetables include artichokes, green peas, broccoli and cauliflower. High-fiber fruits include raspberries, pears, apples and pumpkin.</p> 

        <p>They’re low-calorie and low-fat. On average, fruits and especially vegetables are very low in calories and fat, which means you can eat more to keep you feeling full without worrying about extra calories or fat. You can save more than  200 calories by eating half a cup of grapes versus a fourth of a cup of  M&Ms. That said, there are exceptions, such as avocados, olives and coconuts.</p>

        <p>Protect against cancer and other diseases. Many vegetables and fruits contain phytochemicals, which are biologically active substances that can help protect against some diseases. That means you can lower your risk of type 2 diabetes, stroke, heart disease, high blood pressure and cancer by adding them into your diet. Specifically cruciferous veggies, such as broccoli, cabbage, collards and watercress, have been linked to reducing cancer risks.</p>

        <p>Fruits and vegetables help you maintain good health. Because they’re low in saturated fat, salt and sugar, fruits and vegetables are part of a well-balanced diet that can help you lose weight or prevent weight gain. Plus, they can help you decrease inflammation, and lower cholesterol levels and blood pressure.</p>

        <p>Low in sodium and cholesterol. Fresh fruits and veggies contain only trace amounts of sodium. Many people think that celery is high in sodium, but in fact, one stalk contains a mere 30mg, which contributes 1 percent to the recommended daily value. Cholesterol doesn’t exist in fruits and veggies at all.</p>

        <p>Fresh, frozen, canned, dried – they’re ALL nutritious. While eating fresh fruits and vegetables may be your preference, there’s not much difference from a nutrition standpoint when you compare frozen, canned or dehydrated products. In fact, most frozen and canned products are processed within hours of harvest, so the nutritional value is locked in quickly.</p>

        <p>Convenient, quick and easy. Unlike granola bars or crackers, many fruits and vegetables don’t need any packaging. So you can easily grab a banana or an apple as you’re heading out the door.</p>

        <p>Finally… Smoothies! If you have a blender, all you need is fruit and ice to whip up a delicious smoothie using all of your favorite flavors. And here’s a tip – when you make a fruit smoothie, feel free to throw in as much fresh spinach as you like. Spinach doesn’t start to taste like “spinach” until you cook it. Even kids can’t tell the difference!</p>

        <p>Enjoying fruits and vegetables is a great way to improve your health and actually enjoy what you eat. While it may take a little creativity, effort and an open mind to try new things, switching to a diet with more fruits and veggies is definitely worth it!</p>
    </article>
</div>
{% endblock %}