{% extends 'plants/base.html' %}

{% block plants %}
<div id="recipeDataBase">

    {% if user.is_authenticated %}
    <div class="navbar">
        <h3>{{ user }} DASHBOARD</h23>
        <h3><a href="{% url 'profile' %}">GO Home </a></h3>
        <h3><a href="{% url 'logout_user' %}">logout</a> </h3>
    </div>

    <div class="title">
        <h3>Food Recipe Search</h3> 
        <input type="text" v-model="userQuery"  type="text" placeholder="Search Your Recipe...">
        <button v-on:click="searchMeals">Search</button> 
    </div>
    
    <div class="entry">
        <div class="entry1" v-for="(data, i) in mealsResult" v-if="mealsResult.length > 0">
            <img v-bind:src="[[data?.recipe?.image]]" alt="Food Image">
            <div class="entry2">
                <h3>[[data?.recipe?.label]]</h3> 
                <p><a v-bind:href="data?.recipe?.url">Get Recipe!</a></p>
            </div>
        </div>    
    </div>

    <footer>
        <div id="edamam-badge" data-color="white"></div>    
    </footer>
    {% endif %}
</div>
{% endblock %}