{% extends 'plants/base.html' %}
{% load static %}

{% block header %}
<div class="header1" id="myHeader">
    <div class="headerTitle1">
        <h1>GARDEN LIGHT</h1>   
    </div>
    <div class="topNav1">
        <nav class="navBar1">
            <a href="{% url 'plants:index' %}">Home</a>
            <a href="{% url 'plants:aboutPage' %}">About</a>
            <a href="{% url 'login_user' %}">Member Login</a>
            <a href="{% url 'register' %}">Join Us</a>
        </nav>
    </div>
</div>
{% endblock %}

{% block plants %}

{% if user.is_authenticated %}
<div id="recipeDataBase">

    
    <div class="stickyTopNav">
        <a href="{% url 'profile' %}">Home</a>
        <a style="float: right;" href="{% url 'logout_user' %}">logout</a>
    </div>
    
    <div class="title">
        <h2>Food Recipe Search</h2> 
        <input class="registerBtn" type="text" v-model="userQuery"  type="text" placeholder="Search Your Recipe...">
        <button class="registerBtn2" v-on:click="searchMeals">Search</button> 
    </div>
    
    <div class="entry">
        <div class="entry1" v-for="(data, i) in mealsResult" v-if="mealsResult.length > 0">
            <img v-bind:src="[[data?.recipe?.image]]" alt="Food Image">
            <div class="entry2">
                <h3>[[data?.recipe?.label]]</h3> 
                <a v-bind:href="data?.recipe?.url">Get Recipe!</a>
            </div>
        </div>    
    </div>

    <footer>
        <div id="edamam-badge" data-color="white"></div>    
    </footer>
    
</div>
<div class="checklist">
    <img src="{% static 'plants/images/checklist.png' %}" alt="checklist">
</div>
{% endif %}
{% endblock %}