{% extends 'plants/base.html' %}

{% block plants %}
<div id="foodDataBase">


    <h1>Vegetable & Fruit Search</h1>
    <h2>[[message]]</h2>
    <br>
    <div>
        <div>
            <input type="text" v-model="userQuery"  type="text" placeholder="Search for food...">
            <button v-on:click="searchIngr">Search</button> 
        </div>
    </div>
    <!-- <h2>"[[ingrResult.length]]" SEARCH RESULTS FOUND</h2>
    <br>
    <h4>You searched for: [[userQuery]]</h4>
    <br>
    <h5><a href="{% url 'plants:index' %}">Home</a> > <a href="#">Search results for [[userQuery]]</a></h5>
    <br> -->

    <!-- <div>
        <div>
            <h2>Title of "Food Searched"</h2>   
            <p>Information about "food searched". Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dicta.</p>
            <a href="#">More Info</a>
        </div>
    </div> -->
    <br>

    <div class="wrapper">
        <div class="entry">
            <div class="entry1" v-for="(data, i) in ingrResult">
                <img v-bind:src="[[data?.food?.image]]" alt="Food Image">
                <h2 class="title">Food Item</h2>
                <a class="view-btn" href="#"><figcaption>[[data?.food?.label]]</figcaption></a> 
            </div>
        </div>
    </div>
    <footer>
        <div id="edamam-badge" data-color="white"></div>    
    </footer>
</div>
{% endblock %}