{% extends 'plants/base.html' %}

{% block plants %}
<body class="index">
    <div class="gardenPic">
        <h2 class="garden">Picture of Vegetables</h2>    
    </div>

    <div class="content">
        <section class="square1">

        </section>
        <section class="options">
            <p>Wanna Play?</p>
            <a href="{% url 'vegetableGame:veggieGameData' %}">CLICK ME</a>
        </section>
        <section class="options">
            <p>Learn More ---></p>
            <p>Quiz <---</p>
        </section>
        <section class="options">
            <p>Fruits & Vegetables</p>
            <a href="#">CLICK ME</a>
        </section>
        <section class="square2">

        </section>
    </div>

    <div class="summary">
        <h3>Summary about Fruits and Vegetables</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, saepe.</p>
        <hr>
        <img class="tree" src="/images/guessing-game.png" alt="Tree">
    </div>
</body>
<footer>Footer: {{ message }}</footer>
{% endblock %}