* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.message {
    width: 65vw;
    height: 75vh;
    margin: auto;
    border: black solid 8px;
    border-radius: 1em;
    overflow: hidden;
    line-height: 68px;
}
  
.section1 {
    float:left;
    width:50%;
    overflow:hidden;
    background: beige;
    display: grid;
    text-align: center;
    font-size: 25px;
    padding: 0.7em;
}
  
.section2 {
    float:left;
    width:50%;
    overflow:hidden;
    background: white;
    display: grid;
    padding: 0.5em;
    text-align: left;
    font-size: 20px;
}

.header {
    padding: 10px 16px;
    background: #08BDBD;
    color: #f1f1f1;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 102px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: none;
    color:black;
  }
  
  .fa-youtube {
    background: none;
    color:black;
  }
  
  .fa-instagram {
    background: none;
    color:black;
}

  .fa-facebook {
    background-color: none;
    color: black;
  }

.content {
display: flex;
justify-content: center;
background-color: DodgerBlue;
background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.options {
  border-radius: 1.2em;
  background-color: #540d6e;
  width: 100vh;
  min-height: 50vh;
  margin: 50px;
  color: whitesmoke;
  text-align: center;
  line-height: 175px;
  font-size: 45px;
  background: linear-gradient(
    to right bottom,
    rgba(204, 48, 243, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.summary {
  display: grid;
}

.loginregister{
  height: 100%;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  background-image: url("https://media.istockphoto.com/photos/healthy-fresh-rainbow-colored-fruits-and-vegetables-background-picture-id1208790371?k=6&m=1208790371&s=612x612&w=0&h=FCAj7paMmtAYe4W-8j12fSh9fe2Uf1yt7CItAzMNLTA=");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* SEED STYLING */
table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

tr {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  font-family: 'Balsamiq Sans', cursive;
}

.row1 > td img, .row2 > td img {
  background-repeat: no-repeat; 
  background-size: 90%, 10%;
  background-position: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 1em;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.row1:hover > td, .row2:hover > td {
  background-repeat: no-repeat;
  background-size: 100%, 10%;
  background-position: center;
  cursor: pointer;
}