{% extends 'plants/base.html' %}

{% block plants %}
<html class="html">
<body class="vegetableGame">
    {% for quiz in quiz_question %}
    <div>
      <h3>{{quiz.veggie_question}}</h3>
    </div>
    {% endfor %}

    {% for quiz in quiz_answer %}
    <div>
      <h3>{{quiz.veggie_answer}}</h3>
    </div>
    {% endfor %}

    <div id="generate">
        <select v-model="amount" name="amount" id="amount">
            <option disabled value="">Number of Questions</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        <button v-on:click="getQuiz">Generate Quiz</button>
    </div>

    <article class="flashcard">
        <input id="flashcard-1" type="checkbox" />
        <label for="flashcard-1">
          <section class="front">
            Front of the flashcard!
          </section>
          <section class="back">
            Back of the flashcard!
          </section>
        </label>
      </article>
</body>
</html>
{% endblock %}
