*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body{
  height: 100vh;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  display: block;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
}

body::after {
  /* background-image: url("https://www.pennington.com/-/media/Images/Pennington2-NA/US/blog/fertilizer/How-to-grow-an-organic-vegetable-garden/Bunch-of-fresh-veggies-h.jpg?h=480&la=en&w=1140&hash=B86177ADDF67F3E8659716962AE1AE98CA05E5A3"); */
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.gardenPic {
  text-align: center;
  color:whitesmoke;
  line-height: 900px;
}

.garden { 
  height: 75vh;
  color: white;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em;
}

/* Header Styling */
.header {
  padding: 10px 16px;
  background: #08BDBD;
  color: #f1f1f1;
  text-align: center;
  border-bottom: black solid 2px;
  top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
  
.sticky + .content {
  padding-top: 102px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: none;
    color:black;
  }
  
  .fa-youtube {
    background: none;
    color:black;
  }
  
  .fa-instagram {
    background: none;
    color:black;
}

  .fa-facebook {
    background-color: none;
    color: black;
  }

  /* Body Styling */
.content {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.options {
  border-radius: 1.2em;
  background-color: #540d6e;
  width: 100vh;
  min-height: 50vh;
  margin: 50px;
  color: whitesmoke;
  text-align: center;
  line-height: 175px;
  font-size: 45px;
  background: linear-gradient(
    to right bottom,
    rgba(204, 48, 243, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.summary {
  display: grid;
}

/* Food Results Styling || dashboard.html || food_data.html */
.entry {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(81, 238, 173);
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: #540d6e solid 5px;
}
.entry img {
  width: 100%;
  height: 300px;
}
.entry1 {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 0.5em;
  border: #eb1e95 solid 5px;
}

.entry2 > h3, p {
  display: grid;
  align-items: center;
  justify-content: center;
  border: #08BDBD solid 4px;
  text-decoration: none;
}

.wrapper .title {
  color: black;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.view-btn {
  text-decoration: none;
  text-align: center;
  color: black;
  margin-top: 20px;
  align-self: flex-start;
}

/* Footer Styling */
 .footer {
  height: 20vh;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #7AA354;
}

.above { 
  position: absolute; top: -40px;
  color: #7AA354;
}