{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{% url 'logout_user' %}">logout</a>
        <h1>{{ message }}</h1>
    
        <h3>Welcome {{ user }} Glad to See You Again!</h3>
        <h4>blog_posts: {{ blog_posts }}</h4>

        <ul>
            <p>Beginning of Blog Posts</p>
            <li>blog_posts: {{ blog_posts }}</li>
            <li>blog_post.title: {{ blog_post.title }}</li>
        </ul>
        
    {% else %}
    <a href="{% url 'login_user' %}">Login</a>
    <a href="{% url 'register' %}">Sign Up</a>
    {% endif %}

    {% for blog_post in blog_posts %}
        <li>blog_posts: {{ blog_posts }}</li>
        <li>blog_post.title: {{ blog_post.title }}</li>
        <li>blog_posts.body: {{ blog_posts.body }}</li>
    {% endfor %}
</body>
</html>