{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Plot</title>
    <!-- Vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.common.dev.min.js"
        integrity="sha512-PkyFg1MEb/EwsFAqzqvZqWdMT4ItV+E1NgOtfBC9X8UecJcO9bwirD+v/9tJwci4wTNHdNYBk4ev6ceb1hy73g=="
        crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'gardenPlot/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{% static 'gardenPlot/main.js' %}"></script>
</head>
<body>
    {% if user.is_authenticated %}

    <div class="header" id="myHeader">
        
        <h1>Header: {{ message }}</h1>
        <div class="topNav">
            <nav class="navBar">
                <a href="{% url 'plants:index' %}">Home</a>
                <a href="#">YouTube</a>
                <a href="{% url 'plants:aboutPage' %}">About</a>
                <a href="{% url 'login_user' %}">Member Login</a>
                <a href="{% url 'register' %}">Join Us</a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                </nav>
        </div>
    </div>
    <div>
        <h3><a href="{% url 'logout_user' %}">logout</a> </h3>
        <h3><a href="{% url 'plants:dashboard' %}">DASHBOARD</a></h3> 
    </div>

    <div class="plot">
        <h2>Watch your seeds blossom into plants!</h2>
        <h5>Roll Your Mouse Across The Spaces</h5>    
        <table class="innerplot">            
        <tr class="row1">
            <th>Row 1<br>Raspberry</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="row2">
            <th>Row 2<br>Carrot</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="row3">
            <th>Row 3<br>Apple</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="row4">
            <th>Row 4<br>Bell Pepper</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
    {% endif %}
</body>
</html>